footer {
    z-index: 1;
    bottom: 0;
    top: 100%;
    text-align: center;
    margin-top: 500px;
    height: 15rem;
    font-size: 20px;
    background-color: rgba(146, 89, 66, 0.568);
    
}

footer .container .footerRight ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

#title{
    font-weight:bold;
    font-size: 23px;
}

.footerLeft,
.footerRight {
    height: auto;
}

.down{
    font-size: 16px;
    margin-top: 20px;
}

@media screen and (max-width : 760px) {
   

    .container {
        display: flex;
        flex-direction: row;
        font-size: 15px;
        gap: 5rem;
       
    }

    #title{
        font-size: 18px;
    }

    .footerLeft,
    .footerRight {
        width: 50%;
    }

}