.contactContent {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;

}


.anadir{
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 60%;
  margin: 50px;
  padding: 20px 100px;
  background-color: #8F6A4D;
  border-radius: 15px;
  box-shadow: 6px 5px 5px;
}

.map{
  width: 50%;
  display: flex;
  justify-content: center;
}

.boton-anadir{
  margin-top: 30px;
  padding: 2px 20px;
  height: 2rem;
  align-items: center;
  border-radius: 10px;
  background-color: #9c8670;
  font-weight: bold;

}

::placeholder{
  color: black;
}

form{
  display: flex;
  flex-direction:column;
  align-items: center;
  gap: 1rem;
}

input, select{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 2px;
  padding: 3px 15px;
  height: 2rem;
  align-items: center;
  border: 1px solid black;
  border-radius:1ex;
  background-color: #9c8670;
  font-weight: bold;
  color: black;
}

textarea{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 30px 50px;
  border: 1px solid black;
  border-radius:1ex;
  background-color: #9c8670;
  font-weight: bolder;
}

.titulo-form{
  display: flex;
  justify-content: center;
  margin: 30px 0;
  
}


@media screen and (max-width: 760px){
  .contactContent{
    flex-direction: column;
  }

  .anadir{
    width: 100%;
  }

  
}