@import url('https://fonts.googleapis.com/css2?family=Gruppo&family=Tinos:wght@700&display=swap');

.form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 20px 10px 0 10px;
  background-image: url(../assets/background/fondo-02.png);
  background-repeat: repeat;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 6px 5px 5px;
  color: white;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
}

.formContent {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-verde-coco-trans);
  width: 100%;
  border-radius: 10px;

}

input,
select {
  width: 32.5%;
  margin-bottom: 10px;
  padding: 3px 15px;
  height: 2rem;
  align-items: center;
  border: 1px solid var(--color-5);
  border-radius: 5px;
  font-weight: bold;
  color: var(--color-5);
}

.option {
  width: 100%;
}

.labelForm {
  width: 49%;
}

textarea {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  width: 98.5%;
  padding: 3px 15px;
  align-items: center;
  border: 1.5px solid var(--color-5);
  border-radius: 1ex;
  background-color: white;
  font-weight: bolder;
}

::placeholder {
  color: var(--color-5);
}

input:focus {
  transition: 1.2s;
}

.send {
  width: 20%;
  margin: 1rem 0 1rem 0;
  padding: 2px 20px;
  height: 2rem;
  align-items: center;
  border-radius: 5px;
  background-color: var(--color-5);
  font-weight: bold;
  color: var(--color-blanco);
  border-style: none;
}

.send:hover {
  background-color: var(--color-5-active);
}

.send:focus {
  background-color: var(--color-verde-coco);
}

@media screen and (min-width: 150px) and (max-width: 767px) {
  .contactContent {
    flex-direction: column;
  }

  input,
  select {
    width: 100%;
    margin-bottom: 10px;
    padding: 3px 15px;
    height: 2rem;
    align-items: center;
    border: 1px solid var(--color-5);
    border-radius: 5px;
    font-weight: bold;
    color: var(--color-5);
  }
  
  .labelForm {
    width: 100%;
  }

  textarea {
    width: 100%;
  }

  .send {
    width: 60%;
  }

}