body {
    padding: 0.1px;
    overflow-x: hidden;
    background-image: url('../assets/fondo.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;

}

header {
    width: 100vw;
}

header .navbar {
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 20px;
    position: fixed;
    overflow: hidden;
    z-index: 100;
    -webkit-transition: .9s;
    transition: .9s;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
    width: 100vw;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10);
    
}

header.abajo .navbar {
    background-color: rgb(255, 255, 255);
    color: #000000;
}

header.abajo #menu a {
    color: #000000;
}

header.abajo #menu a:hover {
    color: var(--color-3);
}


.logo {
    margin-top: 20px;
}


.navbar ul {
    list-style-type: none;
    margin-top: 15px;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    display: block;
    letter-spacing: 2px;
    margin: 15px;
    height: 50px;
    text-align: center;
    line-height: 70px;
    color: var(--color-blanco);
    text-decoration: none;
    transition: all 0.5s ease;
}

.navbar li:hover a {
    color: var(--color-3);
}

.show-menu {
    text-decoration: none;
    color: #000000;
    text-align: center;
    display: none;
    width: 10%;
    height: 10%;
    transition: all 0.5s ease;
}





input[type=checkbox] {
    display: none;

}



input[type=checkbox]:checked~#menu {
    display: block;
    
}

#close-menu {
    text-decoration: none;
    color: #000000;
    text-align: center;
    padding: 2px 0;
    display: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: fixed;
    top: 18px;
    right: 6px;
    background-color: #6bc71b;
    border-radius: 50%;
    font-size: 20px;
}


@media screen and (max-width: 760px) {
    /* Otros estilos existentes */

    header .navbar ul {
        position: fixed;
        display: flex; /* Cambiado de display: none; a display: flex; */
        flex-direction: column; /* Alineación vertical de los elementos del menú */
        width: 100%;
        margin: 0;
        transform: translateX(-100%); /* Oculta el menú inicialmente fuera de la pantalla */
        transition: transform 0.4s ease-in-out; /* Agregada transición de transformación */
    }

    .navbar ul li,
    .navbar li a {
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 15px;
        float: right;
        transition: transform .15s;
    }


    /* Otros estilos existentes */

    #menu.open {
        transform: translateX(0); /* Despliega el menú al estar marcado el checkbox */
    }

    input[type=checkbox],
    .show-menu {
        display: none;
    }

    .show-menu {
        display: grid;
        place-items: center;
        position: fixed;
        cursor: pointer;
        right: 6px;
        top: 18px;
        background-color: #ffffff;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        color: 	black;
        z-index: 100;
        margin-top: 1.5rem;
        
    }

    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    header.abajo .navbar {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10);
        
    }

    header.abajo #menu a {
        color: #ffffff;
    }

    #show-menu:checked + .navbar ul {
        display: none;
    }

    /* Estilos para mostrar el menú cuando no está marcado el checkbox */
    #show-menu:not(:checked) + .navbar ul {
        display: flex;
        flex-direction: column;
    }
}


/* @media screen and (max-width : 760px) {
    

    .navbar ul {
        position: static;
        display: none;
        width: 100%;
        margin: auto;
       
        
    }

   

    .navbar{
        position: fixed;
        top: 0;
        transition: transform 0.3s ease-in-out;
    }

    .navbar ul li,
    .navbar li a {
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 20px;
        
        float: right;
        margin-right: .7em;
        transition: transform .10s;
    }

    .show-menu {
        display: block;
        position: fixed;
        cursor: pointer;
        right: 6px;
        top: 18px;
        background-color: #37680d;
        width: 30px;
        border-radius: 50%;
        height: 30px;
        
        
    }

    .logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    header.abajo .navbar {
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.10);
        
    }

    header.abajo #menu a {
        color: #ffffff;
    }

    

    
} */