*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    colorFondo: #f2f2df;
    color-1: #8F6A4D;
    color-2: #9D8169;
    color-3: #C7B5A9;
    color-4: #A0846C;
    color-amarillo: #dad6c7;
    color-blanco: #FFFFFF;
    color-negro: #031119;
    color-naranja: #c0ae9a;
}

.iconsRight {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.iconsRight a {
    display: block;
    margin-bottom: 10px;
}

.iconsRight button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.iconsRight img {
    width: 50px;
}

.iconsRight img:hover{
    transition: 0.5s;
    filter: brightness(1.5); 
}

/******GENERAL

.wsp{
    position: fixed;
    top: 75%;
    left: 94%;
}

.whatsapp{
    width: 7rem;
    height: 7rem;
    opacity: 40%;
    cursor: pointer;
    transition: 0.25s;
}

.whatsapp:hover{
    opacity: 100%;
}
 ******/

/***** MÓVILES *****/
@media screen and (max-width: 767px) {
    /* Vista Vertical */
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Vista Horizontal */
}

/***** TABLETS *****/
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    /* Vista Vertical */
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
    /* Vista Horizontal */
}

/***** PCS *****/
@media screen and (min-width: 1024px) {
    
}
