*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --colorFondo: #f2f2df;
    --color-1: #8F6A4D;
    --color-2: #9D8169;
    --color-3: #C7B5A9;
    --color-4: #A0846C;
    --color-amarillo: #dad6c7;
    --color-blanco: #FFFFFF;
    --color-negro: #031119;
    --color-naranja: #c0ae9a;
    --color-verde-slider: #adc418;
}

.nuestraHistoria{
    margin-top: 800px;
    text-align: center;
    background-color: #8F6A4D;
}

.iconsRight {
    position: fixed;
    top: 80%;
    right: 20px;
    transform: translateY(-50%);
}

.iconsRight a {
    display: block;
    margin-bottom: 10px;
}

.iconsRight button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.iconsRight span {
    width: 80%;
}

.iconsRight span:hover{
    transition: 0.5s;
    filter: brightness(1.5); 
    cursor: pointer;
}


.nav-link{
    font-size: 1.6rem;
    font-weight: lighter;
    cursor: pointer;
    color: rgb(255, 255, 255);
    transition: 0.2s;
    margin: 0 1rem;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50rem;
    height: 15rem;
    bottom: 0;
    margin-top: 500px;
}

.contactContent{
    margin-top: 200px;
}


/***** MÓVILES *****/
@media screen and (max-width: 767px) {
    /* Vista Vertical */
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
    /* Vista Horizontal */
}

/***** TABLETS *****/
@media screen and (min-width: 768px) and (max-width: 1023px) and (orientation: portrait) {
    /* Vista Vertical */
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
    /* Vista Horizontal */
}

/***** PCS *****/
@media screen and (min-width: 1024px) {
    
}
